@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

/* custom scroll bar */

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
/* ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
} */

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(177, 177, 177);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #979797;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'poppins', sans-serif;
	box-sizing: border-box;
}

:root {
	--body-color: #efefef;
	--nav-color: #1876f2;
	--bg-color: #fff;
	--txt-color: #000;
}

.dark-theme {
	--body-color: #0a0a0a;
	--nav-color: #000;
	--bg-color: rgba(49, 49, 49, 0.884);
	--txt-color: #ffff;
}

body {
	background: var(--body-color);
	transition: background 0.3s;
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--nav-color);
	padding: 5px 5%;
	position: sticky;
	top: 0;
	z-index: 100;
}
.logo {
	width: 160px;
	margin-right: 45px;
}
.nav-left,
.nav-right {
	display: flex;
	align-items: center;
}
.nav-left ul li {
	list-style: none;
	display: inline-block;
}
.nav-left ul li img {
	width: 35px;
	height: 35px;
	margin: 0 15px;
}
.nav-user-icon img {
	width: 70px;
	border-radius: 50%;
	cursor: pointer;
}
.search-box {
	background: var(--bg-color);
	color: var(--txt-color);
	width: 400px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	padding: 0 15px;
}
.search-box img {
	width: 20px;
}
.search-box input {
	width: 100%;
	padding: 10px;
	outline: none;
	border: 3px;
	border-style: solid;
	background: var(--bg-color);
	color: var(--txt-color);
}
.online {
	position: relative;
}
.online::after {
	content: '';
	width: 8px;
	height: 8px;
	border: 3px #fff;
	border-style: solid;
	border-radius: 50%;
	background: #41db51;
	position: absolute;
	top: 0;
	right: 0;
}

.settings-menu {
	position: absolute;
	width: 90%;
	max-width: 350px;
	background: var(--bg-color);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	overflow: hidden;
	top: 108%;
	right: 5%;
	max-height: 0;
	transition: max-height 0.3s;
	color: var(--txt-color);
}
.settings-menu-height {
	max-height: 450px;
}

.user-profile a {
	font-size: 12px;
	color: #1876f2;
}
.settings-menu-inner {
	padding: 20px;
}
.settings-menu hr {
	border: 0;
	height: 1px;
	background: #9a9a9a;
	margin: 15px 0;
}
.settings-links {
	display: flex;
	align-items: center;
	margin: 15px 0;
}
.settings-links .settings-icon {
	width: 37px;
	margin-right: 10px;
	border-radius: 50%;
}
.settings-links a {
	display: flex;
	flex: 1px;
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
	color: var(--txt-color);
}
#dark-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	background: #ccc;
	width: 45px;
	border-radius: 15px;
	padding: 2px 3px;
	cursor: pointer;
	display: flex;
	transition: padding-left 0.5s, background 0.5s;
}
#dark-btn span {
	width: 18px;
	height: 18px;
	background: #fff;
	border-radius: 50%;
	display: inline-block;
}
#dark-btn.dark-btn-on {
	padding-left: 23px;
	background: #000;
}

#search__list {
	width: 45%;
	background-color: #ffff;
	z-index: 100;
	position: fixed;
	margin-top: 0;
	margin-left: 2.3%;
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	/* max-height: 0; */
	transition: max-height 0.3s;
	overflow-y: auto;
	overflow-x: auto;
}
.search_list {
	max-height: 0;
	transition: max-height 0.3s;
}
.search__list-toggle {
	max-height: 400px;
	/* padding: 5px 10px; */
}
.online-list .online img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 15px;
}

.search__container {
	width: 280px;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* border-bottom: 1px solid #eaeaea; */
	margin-bottom: 10px;
}

.lens {
	background: greenyellow;
	padding: 50x;
	border-radius: 50px;
}

.search__icon {
	width: 23px;
	height: 23px;
}

.search__input {
	border: none;
	outline: none;
	background: #eaeaea;
	padding: 10px 15px;
	border-radius: 5px;
	width: 220px;
}
.button {
	width: 100%;
	padding: 6px;
	font-size: 1em;
	font-weight: 500;
	color: #fff;
	background: linear-gradient(to bottom right, #f88bf8, #9141e2);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
}
.button a {
	text-decoration: none;
	color: #fff;
}
.button:hover,
.button:hover {
	background: linear-gradient(to bottom right, #f88bf8, #9141e2);
}

.online-list {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.online-list .online img {
	width: 40px;
	border-radius: 50%;
	margin-right: 15px;
}
.online-list .online {
	width: 40px;
	border-radius: 50%;
	margin-right: 15px;
}
.online-list .online::after {
	top: unset;
	bottom: 5px;
}

/*! Dark Mode */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background: #f7f0e9;
	transition: 0.6s;
}
h1 {
	font-size: 5em;
	color: #3d3935;
}
#container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
.switch input {
	display: none;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ccc;
	border-radius: 34px;
	transition: 0.4s;
}
.slider:before {
	content: '';
	position: absolute;
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background: #fff;
	border-radius: 50%;
	transition: 0.4s;
}
input:checked + .slider {
	background: #b892ff;
}
input:checked + .slider:before {
	transform: translateX(26px);
}
.dark-mode {
	background: #0b0a14;
}
.dark-mode h1,
h2,
h3,
h4,
p {
	color: #f7f0e9;
}
