@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

/* custom scroll bar */

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 5px grey;
	border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(177, 177, 177);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #979797;
}

:root {
	/* --grad: linear-gradient(to bottom right, #8bc34a, #ff9800); */
	--grad: linear-gradient(to bottom right, #f27ef2, #7d2fcc);
	--gradh: linear-gradient(to bottom right, #f88bf8, #9141e2);
	--headerbg: linear-gradient(to bottom right, #7eb0f2, #7d2fcc);
	--clip: polygon(52% 65%, 100% 38%, 100% 0, 0 0, 0% 38%);
	--shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
	--c: #eaeaea;
	--g: #74d800;
}

.background-image {
	height: 100vh;
	background-image: var(--grad);
	width: 100%;
	clip-path: var(--clip);
	z-index: -5;
	/* position: relative; */
}
.gradient-text {
	background-image: linear-gradient(
		to bottom right,
		#f27ef2,
		#7d2fcc
	) !important;
	background-size: 100%;
	background-repeat: repeat;
	background-clip: text !important;

	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
}

.a {
	text-decoration: none !important;
}

.link {
	cursor: pointer !important;
}

.button {
	padding: 6px;
	font-size: 1em;
	font-weight: 500;
	color: #fff;
	background: var(--grad);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.button:hover,
.button:hover {
	background: var(--gradh);
}
